html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
.btn-cont{
    text-align: center;
    margin-top: 30px;
}
.btn-cal {
    background-color: darkmagenta;
    color: #fff;
    text-align: center;
    width: 170px;
    height: 30px;
}

.fd-cal {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: start;

}
.show-res{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.head-cal {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

}
.cal-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:5px;
    background-color: darkgoldenrod;
    border-radius: 15px;
    height: 500px;
    width: 300px;
}